<div class="motw">
    <div class="controls">
        <a href="{{ path('atm_motw_edit',{'motwId':motw.id}) }}" class="edit"><i class="fa fa-edit"></i></a>
        <a href="{{ path('atm_motw_delete',{'motwId':motw.id}) }}" class="delete"><i class="fa fa-times"></i></a>
    </div>
    <div class="tour">
        <img src="{{ asset(motw.thumbnail_tour) }}">
        <span>Tour</span>
    </div>
    <div class="members">
        <img src="{{ asset(motw.thumbnail_members) }}">
        <span>Members</span>
    </div>
    <div class="data">
        <h3>{{ motw.model.username }}</h3>
        <span>
            From: {{ motw.init_date | date('d-m-Y') }} <br>To: {{ motw.end_date | date('d-m-Y') }}
        </span>
    </div>
</div>