<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block atm_motw_title %}ATM Model of the week Bundle{% endblock atm_motw_title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="Mature" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/atmmotw/css/css.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/atmmotw/css/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/atmmotw/fonts/lato.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmmotw/fonts/quicksand.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmmotw/fonts/leaguespartan.css') }}" type="text/css"/>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block atm_motw_stylesheets %}{% endblock atm_motw_stylesheets %}
    {% block atm_motw_jquery %}
        <script src="{{ asset('bundles/atmmotw/js/jquery-1.11.2.js') }}"></script>
    {% endblock atm_motw_jquery %}
    {% block atm_motw_headingJS %}{% endblock atm_motw_headingJS %}
</head>
<body class="atm_motw">
<div class="inner body">
    {% block atm_motw_content %}{% endblock atm_motw_content %}
</div>
{% block atm_motw_javascripts %}
{% endblock atm_motw_javascripts %}
</body>
</html>