{% extends 'ATMMotwBundle:Admin:base.html.twig' %}

{% block atm_motw_stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmmotw/css/jquery-ui.css') }}">
    <style>
        #uploaded_images li{float: left;margin:10px 35px 0 0;;width: auto;}
        #uploaded_images li img{width: 200px;min-height: 200px;}
        #motw_init_date, #motw_end_date{width:50%}
    </style>
{% endblock atm_motw_stylesheets %}


{% block atm_motw_content %}
    <div class="mm_media_bundle_wrapper mm_video_create">
        <form action="{{ path('atm_motw_edit',{ 'motwId':motw.id }) }}" method="post" enctype="multipart/form-data" class="cont" style="border: none;">
            <fieldset style="position: relative;width: auto;">
                <div class="selectC">
                    {{ form_widget(form.model) }}
                </div>
            </fieldset>
            <div class="clear"></div>

            <fieldset>
                {{ form_widget(form.init_date) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.end_date) }}
            </fieldset>
            <fieldset>
                {{ form_widget(form.description) }}
            </fieldset>
            <fieldset style="float: left;width: 50%;">
                <legend style="text-align: center;">Thumbnail Tour</legend>
                <img src="{{ asset(motw.thumbnailTour) }}" style="width: 250px;display: block;float: none;">
                <input type="file" name="motwThumbnailTour" class="motwThumbnail" style="margin: 10px 0 30px;;">
            </fieldset>
            <fieldset style="float: left;width: 50%;">
                <legend style="text-align: center;">Thumbnail Tour Mobile (420 x 280)</legend>
                <img src="{{ motw.thumbnailTourMobile ? asset(motw.thumbnailTourMobile) : asset('bundles/atmmotw/images/image-placeholder.png') }}" style="width: 250px;display: block;float: none;">
                <input type="file" name="motwThumbnailTourMobile" class="motwThumbnail" style="margin: 10px 0 30px;;">
            </fieldset>
            <fieldset style="float: left;width: 50%;">
                <legend style="text-align: center;">Thumbnail Members</legend>
                <img src="{{ asset(motw.thumbnailMembers) }}" style="width: 250px;display: block;float: none;">
                <input type="file" name="motwThumbnailMembers" class="motwThumbnail" style="margin: 10px 0 30px;;">
            </fieldset>
            <fieldset style="float: left;width: 50%;">
                <legend style="text-align: center;">Thumbnail Members Mobile (420 x 280)</legend>
                <img src="{{ motw.thumbnailMembersMobile ? asset(motw.thumbnailMembersMobile) : asset('bundles/atmmotw/images/image-placeholder.png') }}" style="width: 250px;display: block;float: none;">
                <input type="file" name="motwThumbnailMembersMobile" class="motwThumbnail" style="margin: 10px 0 30px;;">
            </fieldset>
            {{ form_rest(form) }}
            <div class="clear"></div>
            <input type="submit" id="sbCreateMotw" value="Save" style="display:none;">
        </form>
        <a class="but blue" onclick="$('#sbCreateMotw').click();">Save</a>
    </div>
{% endblock atm_motw_content %}

{% block atm_motw_javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/atmmotw/js/jquery-ui.min.1121.js') }}"></script>
    <script>
        $( function() {
            var dateFormat = "dd-mm-yy",
                from = $( "#motw_init_date" )
                    .datepicker({
                        dateFormat: dateFormat,
                        defaultDate: {{ motw.initDate | date('d-m-Y') }},
                        changeMonth: true,
                        numberOfMonths: 3
                    }).on( "change", function() {
                        to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                to = $( "#motw_end_date" ).datepicker({
                    dateFormat: dateFormat,
                    defaultDate: {{ motw.endDate | date('d-m-Y') }},
                    changeMonth: true,
                    numberOfMonths: 3
                }).on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                });

            function getDate( element ) {
                var date;
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    date = null;
                }

                return date;
            }
        } );

        $('.motwThumbnail').change(function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                currentInput.siblings('img').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });
    </script>
{% endblock atm_motw_javascripts %}