{% extends 'ATMMotwBundle:Admin:base.html.twig' %}

{% block atm_motw_stylesheets %}
    <style>
        .menu{width: 100%;margin-bottom: 40px !important;text-align: left;}
        .menu ul, .menu li,.menu a{float:none}
        .motw{width: 25%;float: left;margin-left: 15px;position:relative}
        .motw .controls{float: none;position: absolute;z-index: 1;padding: 5px;background-color: #00000061;width: 100%;}
        .motw .controls .edit{float: left;color: #fff;}
        .motw .controls .delete{float: right;color: #fff;}
        .motw:hover .members{display:block}
        .motw:hover .tour span{display:none}
        .motw .data{}
        .motw .data span{}
        .motw .data h3{width: 100%;text-align: center;font-weight: bold;margin-bottom: 5px;}
        .motw .tour{position: relative;}
        .motw .tour span{position: absolute;bottom: 0;z-index: 1;width: 100%;left: 0;background-color: #00000054;color: #fff;}
        .motw .tour img{float: none;width: 100%;}
        .motw .members{display:none;position: absolute;top: 0;right: 0;}
        .motw .members span{position: absolute;bottom: 0;z-index: 1;width: 100%;left: 0;background-color: #00000054;color: #fff;}
        .motw .members img{float: none;width: 100%;}
    </style>
{% endblock atm_motw_stylesheets %}


{% block atm_motw_content %}
    <div class="menu">
        <ul>
            <li>
                <a href="{{ path('atm_motw_create') }}" style="font-weight: bold;">Create new model of the week</a>
            </li>
        </ul>
    </div>
    <div class="mm_media_bundle_wrapper mm_video_create">
        {% for motw in motws %}
            {% include 'ATMMotwBundle:Admin:item/motw.html.twig' with { 'motw':motw } %}
        {% endfor %}

        {% if pagination %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>
{% endblock atm_motw_content %}